## CS 4661 Project
# Predicting Stock Market Prices
Members: Nshan Kazaryan, Bailey Canham, Ly Jacky Nhiayi, Asahel Monroy

In [66]:
# import necessary tools
import numpy as np
import pandas as pd

In [67]:
# read csv file
stock_df = pd.read_csv("https://raw.githubusercontent.com/LyJacky/stocks/4802f4e0f139ee0568afbad309086d90c78a53b7/all_stocks_5yr.csv")

# gets the top 10 stocks in alphabetical order
# stock_df_top10 sstock_df_aal = stock_df[0:1259]tock_df[0:12590]

In [68]:
# stock_df_top10[::1259]
stock_df_aal = stock_df[0:1259]
stock_df_aal

            date   open   high    low  close    volume Name
0     2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1     2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2     2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3     2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4     2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
...          ...    ...    ...    ...    ...       ...  ...
1254  2018-02-01  54.00  54.64  53.59  53.88   3623078  AAL
1255  2018-02-02  53.49  53.99  52.03  52.10   5109361  AAL
1256  2018-02-05  51.99  52.39  49.75  49.76   6878284  AAL
1257  2018-02-06  49.32  51.50  48.79  51.18   6782480  AAL
1258  2018-02-07  50.91  51.98  50.89  51.40   4845831  AAL

[1259 rows x 7 columns]

In [80]:
stock_df_aal.head()
feature_cols = [ "open", "high", "low", "volume"]
X = stock_df_aal[feature_cols]
y = stock_df_aal["close"]

In [87]:
# import linear regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, 
                                                    random_state=3)
linear_regression = LinearRegression()
linear_regression.fit(X_train,y_train)
# print(X_test)
# print(y_test)

y_predict = linear_regression.predict(X_test)

mse_list = cross_val_score(linear_regression, X, y, cv=10, scoring='neg_mean_squared_error')

mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list.mean())

0.3333765155149123

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore')

encoder_df = pd.DataFrame(encoder.fit_transform(stock_df[['Name']]).toarray())

stock_df_encode = stock_df.join(encoder_df)

stock_df_encode.drop('Name', axis=1, inplace=True)
stock_df_encode.columns = ['AAL', 'AAPL', 'AAP', 'ABBV', 'ABC', 'ABT', 'ACN', 'ADBE', 'ADI', 'ADM']

KeyboardInterrupt:

In [ ]:
old_val = stock_df["close"]

series_shifted = old_val['A'].shift()
series_shifted